.responsive-table {

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 60vw;
    }

    .table-header {
        font-size: 1rem;
        letter-spacing: 0.03em;
        border-radius: 10px;
        font-weight: 500;
        margin-left: -1.5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }

    .tableRow {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 10px;
        margin-left: -1.5rem;
        display: flex;
        align-items: center;
    }

    .col-1 {
        flex-basis: 25%;
    }

    .col-2 {
        flex-basis: 25%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 20%;
    }
}



@media (width<=900px) {

    .responsive-table {
        li {
            width: 80vw;
        }

        .p_img {
            height: 10vw;
        }
    }
}

@media (width<=610px) {


    .responsive-table {
        li {
            width: 95vw;
            margin-right: 1rem;
        }

        .p_img {
            height: 10vw;
        }

        .col-1 {
            flex-basis: 25%;
        }

        .col-2 {
            flex-basis: 10%;
        }

        .col-3 {
            flex-basis: 10%;
        }

        .col-4 {
            flex-basis: 30%;
        }
    }
}

@media (width<800px) {
    .cartTotal {
        width: 80vw;
        justify-content: start;
        margin-right: 3vw;
    }
}